/*-------------------- HEADER ---------------------*/
header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 10px 0;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid brown;
  }
  
  header section {
    width: 95%;
    height: 75%;
    display: flex;
    justify-content: space-between;
  }
  .imagotipo{
    width: 60%;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .imagotipo a {
    display: flex;
    text-decoration: none;
    margin: 10px 10px 10px 0;
  }
  .imagotipo a .texto-logo {
    margin: 0;
  }
  .imagotipo a:hover {
    cursor: auto;
  }
  
  .imagotipo img {
    width: 45px;

  }
  .imagotipo img {
    cursor: pointer;
  }
  
  .texto-logo {
    margin-left: 10px;
    display: inline;
    flex-direction: column;
    justify-content: center;
  }
  .texto-logo:hover {
    cursor: pointer;
  }
  
  h1 {
    color: orangered;
    margin: 0;
  }
  
  header h3 {
    color: brown;
    font-weight: lighter;
    margin: 0;
  }
  
  .botones-logueo {
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .botones-logueo .usuario-nombre {
    margin: 0 2%;
    font-weight: bold;
  }
  .botones-logueo button {
    margin: auto 5px;
  }
  .botones-logueo button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--secondary-color) ;
  }
  .botones-logueo a {
    text-decoration: none;
    color: var(--main-color);
  }

  .botones-logueo button:hover {
    cursor: pointer;
  }
  
  .menu-icono {
    display: none;
    text-align: center;
    align-items: center;
  }
  .menu-icono a {
    text-decoration: none;
    color: var(--main-color);
    
  }
  .menu-icono .usuario-nombre {
    font-size: .9rem;
    margin-left: .5rem;
  }
  
  .menu-icono button {
    border: none;
    margin: 7px auto;
    font-size: 2rem;
    color: #FF4500;
    background-color: white;
  }
  
  .botones-logueo button {
    width: 47.5%;
    height: 75%;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color: orangered;
    background-color: white;
    border: solid 1.5px orangered;
    border-radius: 7.5px;
  }
  
  /*-------------------- HEADER - MENU MOVIL ---------------------*/
  .menu-movil{
    position: fixed;
    top: 0;
    right: 0;
    left: 20%;
    bottom: 0%;
    background-color: white;
    z-index: 1000;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }
  .menu-movil ul {
    padding: 0px 15px 0 5px;
    list-style: none;
    color: var(--third-color);
  }
  .menu-movil li {
    font-weight: 500;
    margin: 20px 10px;
  }
  .menu-movil li a {
    color: var(--main-color);
  }
  .menu-movil li:last-child{
    padding-top: 20px;
    margin-right: 10px;
    border-top: 1px solid black;
  }
  .menu-movil .menu {
    height: 50%;
  }
  .menu-movil .menu-container {
    position: relative;
  
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    justify-content: flex-end;
  
    background-color: var(--main-color);
    color: white;
  }
  .menu-movil .menu-container button {
    position: absolute;
    top: 0;
    margin: 10px;
  
    border: none;
    background-color: var(--main-color);
    font-size: 1.5rem;
    color: white;
  }
  .menu-movil h2 {
    margin: 10px;
    padding: 0px 15px 0 5px;
  }
  .redes-menu{
    width: 100%;
    height: 53.51563px;
    display: flex;
    justify-content: space-around;
    background-color: var(--main-color);
  }
  .redes-menu img {
    width: 12%;
    margin: 10px auto;
    background-color: var(--main-color);
  }
  /*Fin menu movil*/
  .botones-logueo .avatar-user, .menu-icono .avatar-user {
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border-radius: 45%;
    padding: 10px;
  }

  
  
  /*-------------------------------------------- MEDIA QUERIES ---------------------------------*/
  /*DESKTOP*/
  @media (max-width: 1250px) {
    header .imagotipo {
      display: flex;
    }
  }
  
  /*TABLETS Y PORTATILES*/
  @media (max-width: 1024px) {
    header .texto-logo h1 {
      font-size: 1.2rem;
    }
    header .texto-logo h3 {
      font-size: .95rem;
    }
    .imagotipo{
      width: 60%;
    }
    
  }
  
  /*TABLETS Y TELEFONOS MAS GRANDES*/
  @media (max-width: 768px) {
    /*------------------- HEADER -------------------*/
    header .texto-logo h1 {
      font-size: 1.05rem;
    }
    header .texto-logo h3 {
      font-size: .75rem;
    }
    
    .botones-logueo button{
      font-size: .7rem;
    }
    .imagotipo{
      width: 80%;
    }
  }
  
  /*BREAKPOINT INTERMEDIO*/
  @media (max-width:700px) {
  
  }
  
  /* TELEFONOS PEQUEÑOS */
  @media (max-width: 480px) {
    /*-------------------- HEADER ---------------------*/
    header {
      padding: 0;
      height: 8vh;
    }
    header .imagotipo {
      width: 70%;
    }
    header .imagotipo img{
      width: 40px;
    }
    header .texto-logo h1 {
      font-size: .85rem;
    }
    header .texto-logo h3 {
      font-size: .68rem;
    }
    .botones-logueo {
      display: none;
    }
  
    .menu-icono {
      margin: 0 15px;
      display: flex;
    }
    .menu-icono .usuario-nombre {
      font-weight: bold;
    }
    .menu-icono svg {
      margin-top: 10px;
      margin-left: 10px;
    }
    .imagotipo{
      width: 100%;
    }
    
  }

  @media (max-width: 400px) {
    /*-------------------- HEADER ---------------------*/
    header {
      height: 10vh;
    }
    header .imagotipo {
      margin-top: 5px;
    }
    header .imagotipo h1 {
      font-size: .8rem;
    }
    header .imagotipo h3 {
      font-size: .68rem;
    }
    .menu-icono .usuario-nombre {
      display: none;
    }
  }