.historial-user h2 {
    width: 100%;
    text-align: center;
    margin: 2% auto;
}

@media (max-width:400px) {
    .historial-user .historial-plan {
        display: none;
    }
    .historial-user thead th {
        font-size: .77rem;
    }
    .historial-user tbody td {
        font-size: .7rem;
    }
}