.busqueda {
  display: flex;
  justify-content: center;
  background-color: brown;
  color: white;
  height: 130px;
}
  
.busqueda div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.busqueda h2 {
  font-weight: bold;
  font-size: x-large;
}
  
.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.busqueda .formulario {
  width: 100%;
  position: relative;
}
  
.busqueda form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.busqueda .sugerencias {
  list-style: none;
  box-sizing: border-box;
  border-radius: 5px;
  width: 23%;
  position: absolute;
  padding: 10px;
  font-size: .8rem;
  left: 13%;
  bottom: -80px;
  color: black;
  background-color: white;
  -webkit-box-shadow: 10px 10px 12px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 12px -4px rgba(0,0,0,0.75);
box-shadow: 10px 10px 12px -4px rgba(0,0,0,0.75);
}
.busqueda .sugerencias:empty {
  display: none;
}
.busqueda .sugerencias li{
  margin: 5px auto;
}
  
.busqueda input, .busqueda select {
  box-sizing: border-box;
  color: gray;
  width: 25%;
  margin: 0 3px;
  height: 29px;
  border: none;
  border-radius: 5px;
}
  
.busqueda button {
  width: 25%;
  height: 32px;
  border: none;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: white;
  background-color: var(--secondary-color);
  transition: all ease-in-out .5s;
}
.busqueda button:hover{
  cursor: pointer;
  background-color: #f1551c;
}

@media (max-width:1370px) {
  .busqueda .sugerencias {
    bottom: -80px;
  }
}
@media (max-width: 1024px) {
  .busqueda input, .busqueda select {
    width: 33%;
  }
  .busqueda .sugerencias{
    width: 30%;
    left: 40px;
  }
}


@media (max-width: 768px) {
  .busqueda {
    height: auto;
  }
  .busqueda h2 {
    margin: 15px auto;
    text-align: center;
  }

  .busqueda form {
    flex-wrap: wrap;
  }
  .busqueda input, .busqueda select {
    width: 36%;
    margin-bottom: 10px;
  }
  .busqueda button {
    margin-bottom: 10px;
  }
  .busqueda .sugerencias {
    margin-left: -3%;
    bottom: -70px;
  }
}

@media (max-width:700px) {
  .busqueda div {
    width: 100%;
  }
  .busqueda h2 {
    margin: 10px;
    font-size: 1.4rem;
    text-align: center;
  }
  .busqueda form {
    flex-direction: column;
  }
  .busqueda input, .busqueda select {
    width: 75%;
  }
  .busqueda button {
    width: 75%;
    height: 40px;
  }
  .busqueda .sugerencias {
    bottom: 17px;
    width: 70%;
    left: 15.5%;
  }
}

@media (max-width:480px) {
  .busqueda {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .busqueda div {
    width: 100%;
  }
  .busqueda input, .busqueda select {
    width: 90%;
    margin-bottom: 10px;
  }
  .busqueda button {
    width: 90%;
  }
  .busqueda .sugerencias {
    width: 85%;
    left: 35px;
  }
}