footer {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6vh;
  color: white;
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  font-weight: bold;
}
  
.copyright {
  display: flex;
  align-items: center;
  gap: 20px;
}
  
.copyright h4 {
  color: white;
  font-weight: lighter;
  font-size: small;
}
  
footer section {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
  
footer section div img {
  width: 20px;
  height: 20px;
}
  
.social-media{
  display: flex;
  align-items: center;
  gap: 20px;
}

/*- Media Queries Footer -*/

@media (max-width: 768px) {
  .copyright h4 {
    display: none;
  }
}

@media (max-width: 480px) {
  .social-media {
    display: none;
  }
}