main {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;

  /* otro estilo para el fondo */
  /* background-image: radial-gradient(#a52a2a 0.5px, transparent 0.5px), radial-gradient(#a52a2a 0.5px, rgba(196, 196, 196, 0.2) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px; */
  
  /* El fondo que le puso juampa*/
  background: url("https://cdn.pixabay.com/photo/2016/09/12/08/22/breakfast-1663295_1280.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/*--Hasta aquí los estilos del main--*/
/*---Ahora los estilos del form de registro de usuario---*/

main .form-container {
  display: flex;
  flex-flow: wrap column;
  padding: 1.5em;
  width: 500px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, .75);
  border-radius: .75em;
  box-shadow: 1px 1px 10px rgba(165, 42, 42, .25);
}

.form-container h2 {
  font-size: 2em;
  text-align: center;
  width: 100%;
  color: orangered;
  margin: 0 0 1.5em 0;
  letter-spacing: .05em;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container .input-box {
  display: flex;
  flex-direction: column;
}

.form-container label {
  font-weight: bold;
  font-size: small;
  margin-bottom: 2.5px;
}

.form-container input {
  margin-bottom: 1.25em;
  border: none;
  height: 2.5em;
  border-radius: .5em;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.125);
  color: orangered;
  padding-left: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.form-container .inputs-nombre-y-apellido {
  display: flex;
  justify-content: space-between;
}

.form-container input[id="nombre"] {
  width: 210px;
  display: inline;
}

.form-container input[id="apellido"] {
  width: 210px;
  display: inline;
}

.form-container input[type="email"] {
  text-transform: lowercase;
}

.form-container input[type="password"] {
  letter-spacing: 5px;
  font-weight: bold;
}

.form-container .mensaje-error {
  color: crimson;
  text-align: right;
  font-size: small;
  font-weight: bold;
  font-style: italic;
}

.form-container .icono {
  position: absolute;
  right: 40px;
  top: 240px;
  font-size: 1.25em;
  cursor: pointer;
  height: 30px;
}

.form-container button {
  align-self: center;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: .5em;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  letter-spacing: .125em;
  font-weight: bold;
  color: white;
  background-color: orangered;
  cursor: pointer;
  margin: 1em 0 1em 0;
}

.form-container p {
  align-self: center;
  font-weight: bold;
  font-size: .75em;
}

.form-container p span {
  color: #4285f4;
  cursor: pointer;
}

.form-container p span:hover {
  text-decoration: underline;
}

/*--Hasta aquí los estilos del form de registro de usuario--*/
/*---Ahora las media queries---*/

@media (max-width: 768px) {
  header .texto-logo {
    display: none;
  }
  header .boton-logueo {
    width: 160px;
  }
  main .form-container {
    width: 400px;
  }
  .form-container h2 {
    margin-bottom: 2.5em;
  }
  .form-container .inputs-nombre-y-apellido {
    display: block;
  }
  .form-container input[id="nombre"],
  .form-container input[id="apellido"] {
    width: 100%;
  }
  .form-container input {
    margin-bottom: 1.5em;
    height: 3em;
  }
  .form-container button {
    width: 85%;
    margin: 3em 0 1em 0;
  }
  .form-container .icono {
    top: 372px;
  }
}

@media (max-width: 480px) {
  header .boton-logueo {
    display: none;
  }
  .form-container h2 {
    margin-bottom: 0.5em;
  }
  .form-container button {
    width: 100%;
    height: 3em;
    margin: 1em 0 1em 0;
  }
  .form-container input {
    margin-bottom: 1em;
    height: 2.75em;
  }
  main .form-container {
    padding: 1em;
    width: 350px;
  }
  .form-container .icono {
    right: 30px;
    top: 284px;
  }
}