/*------------------- PAGINA LISTADO RESTAURANTES --------------------*/
.restaurante-info {
  position: relative;
}

.restaurantes{
  max-width: 95%;
}
  
.listado-restaurantes {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurantes article{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  height: 325px;
  margin: 20px;
  border-radius:10px;
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.47);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.47);
}
.restaurantes img {
  object-fit: cover;
  width: 100%;
  height: 35%;
  border-radius: 10px;
}
.restaurantes .descripcion {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.restaurantes h2 {
  text-align: center;
  font-size: 1.9rem;
}
.restaurantes .descripcion div {
  height: 80%;
}
.restaurantes .descripcion .restaurante-descripcion,.restaurantes .descripcion h2{
  color: var(--third-color);
}
.restaurantes .descripcion h2 {
  text-align: left;
  font-size: 1.3rem;
  margin: 5px 0;
  width: 90%;
}
.restaurantes .descripcion p {
  font-size: .8rem;
}
.restaurantes .descripcion .puntuaciones-encontrados {
  margin: 0px 14px 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}
.restaurantes .descripcion .estrellas {
  color: #ffbd52;
}
.restaurantes .descripcion .estrellas svg {
  margin-right: 0px;
  font-size: 1.0rem;
}
.restaurantes .descripcion .restaurante-descripcion {
  margin: 5px 12px 0px 0px;
}
.restaurantes .descripcion .puntuaciones-encontrados .contenedor-calidad-promedio{
  display: flex;
  height: 25px;
  margin-right: 1px;
}
.restaurantes .descripcion .puntuaciones-encontrados .contenedor-calidad-promedio .calidad-encontrados{
  font-weight: 700;
  font-size: .70rem;
  height: 25px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: right;
}
.restaurantes .descripcion .puntuaciones-encontrados .contenedor-calidad-promedio .puntuacion-promedio-encontrados{
  font-weight: 700;
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurantes button a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 5px 0;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: var(--secondary-color);
  align-self: center;
}
.restaurantes button:hover {
  cursor: pointer;
  scale: 1.05;
  background-color: #f3571e;
}
.restaurantes button {
  width: 80%;
  height: 20%;
  padding: 5px 0;
  margin: 10px 15px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: var(--secondary-color);
  transition: all ease .5s;
}

@media (max-width: 1024px) {
  .listado-restaurantes{
    justify-content: center;
  }
  .restaurantes article {
    width: 26%;
    max-height: 275px;
  }
  .restaurantes img {
    object-fit: cover;
  }
  .restaurante-info .descripcion h2{
    font-size: 1.1rem;
  }
  .restaurantes .descripcion .restaurante-descripcion {
    margin: 5px 10px 0px 0px;
  }
  .restaurantes .descripcion .puntuaciones-encontrados .contenedor-calidad-promedio .calidad-encontrados{
    width: 40px;
  }
  .restaurante-info .descripcion p{
    font-size: .83rem;
  }
  .restaurantes button {
    width: 70%;
    height: 30px;
    margin: 5px auto;
    padding: 7px;
  }
  .restaurantes button a {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .listado-restaurantes{
    padding: 0;
  }
  .restaurantes article{
    width: 36%;
    max-height: 275px;
  }
  .restaurantes button {
    margin: 5px 22px;
  }
}

@media (max-width: 480px) {
  .listado-restaurantes{
    padding: 0;
    width: 100%;
    display: flex;
  }
  .restaurantes article{
    margin: 25px auto;
    height: 275px;
    width: 75%;

    flex-direction: column;
  }
  .restaurantes article img {
    width: 100%;
    height: 35%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .restaurante-info .descripcion h2 {
    font-size: 1rem;
  }
  .restaurante-info .descripcion .restaurante-descripcion {
    font-size: .8rem;
    margin-bottom: 2px;
    margin-right: 10px;
  }
  .restaurantes .descripcion .estrellas svg {
    margin-right: 2px;
  }
  .restaurantes .descripcion .puntuaciones-encontrados .contenedor-calidad-promedio{
    margin-right: 8px;
  }
  .restaurantes .descripcion .puntuaciones-encontrados .contenedor-calidad-promedio .calidad-encontrados{
    width: 70px;
    font-size: 0.8rem;
    margin-right: 5px;
  }
  .restaurantes button {
    width: 70%;
    height: 30px;
    margin: 5px 35px;
    padding: 5px;
  }
  .restaurantes a {
    width: 80%;
    margin: 7px 10px 7px 0;
  }
}