
.editar-usuario {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding-bottom: 120px;
    background: url("https://cdn.pixabay.com/photo/2016/09/12/08/22/breakfast-1663295_1280.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/*--Hasta aquí los estilos del main--*/
/*---Ahora los estilos del form de registro de usuario---*/

.editar-usuario .form-container {
    display: flex;
    flex-flow: wrap column;
    padding: 1.5em;
    width: 500px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, .75);
    border-radius: .75em;
    box-shadow: 1px 1px 10px rgba(165, 42, 42, .25);
}

.editar-usuario .form-container h2 {
    font-size: 2em;
    text-align: center;
    width: 100%;
    color: orangered;
    margin: 0 0 1.5em 0;
    letter-spacing: .05em;
}

.editar-usuario .form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.editar-usuario .form-container .input-box {
    display: flex;
    flex-direction: column;
}

.editar-usuario .form-container .select-rol {
    border: 2px solid rgba(255, 69, 0, 0.125);
    border-radius: 5px;
    color: orangered;
    /* background-color: rgba(165, 42, 42, 0.5); */
    padding: 10px;
    width: 250px;
  }

.editar-usuario .form-container label {
    font-weight: bold;
    font-size: small;
    margin-bottom: 2.5px;
}

.editar-usuario .form-container input {
    margin-bottom: 1.25em;
    border: none;
    height: 2.5em;
    border-radius: .5em;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.125);
    color: orangered;
    padding-left: 10px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.editar-usuario .inputs-nombre-y-apellido {
    display: flex;
    justify-content: space-between;
}

.editar-usuario .form-container input[id="nombre"] {
    width: 210px;
    display: inline;
}

.editar-usuario .form-container input[id="apellido"] {
    width: 210px;
    display: inline;
}

.editar-usuario .form-container input[type="email"] {
    text-transform: lowercase;
}

.editar-usuario .form-container input[type="password"] {
    letter-spacing: 5px;
    font-weight: bold;
}

.editar-usuario .form-container .mensaje-error {
    color: red;
    text-align: right;
    font-size: small;
    font-weight: bold;
    font-style: italic;
}
.editar-usuario .form-container .icono {
    position: absolute;
    right: 40px;
    top: 240px;
    font-size: 1.25em;
    cursor: pointer;
    height: 30px;
}
.editar-usuario .form-container button {
    align-self: center;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: .5em;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    letter-spacing: .075em;
    font-weight: bold;
    color: white;
    background-color: orangered;
    cursor: pointer;
    margin: 1em 0 1em 0;
}

.editar-usuario .form-container p {
    align-self: center;
    font-weight: bold;
    font-size: .75em;
}

.editar-usuario .form-container p span {
    color: #4285f4;
    cursor: pointer;
}

.editar-usuario .form-container p span:hover {
    text-decoration: underline;
}

/*--Hasta aquí los estilos del form de registro de usuario--*/
/*---Ahora las media queries---*/

@media (max-width: 768px) {
    .editar-usuario .form-container {
        width: 400px;
    }
    .editar-usuario .form-container h2 {
        margin-bottom: 2.5em;
    }
    .editar-usuario .form-container .inputs-nombre-y-apellido {
        display: block;
    }
    .editar-usuario .form-container input[id="nombre"],
    .editar-usuario .form-container input[id="apellido"] {
        width: 100%;
    }
    .editar-usuario .form-container input {
        margin-bottom: 1.5em;
        height: 3em;
    }
    .editar-usuario .form-container button {
        width: 85%;
        margin: 3em 0 1em 0;
    }
    .editar-usuario .form-container .icono {
        top: 372px;
    }
}

@media (max-width: 480px) {
    .editar-usuario .form-container h2 {
        margin-bottom: 0.5em;
    }
    .editar-usuario .form-container button {
        width: 100%;
        height: 3em;
        margin: 1em 0 1em 0;
    }
    .editar-usuario .form-container input {
        margin-bottom: 1em;
        height: 2.75em;
    }
    .editar-usuario .main-registro-usuario .form-container {
        padding: 1em;
        width: 350px;
    }
    .editar-usuario .form-container .icono {
        right: 30px;
        top: 284px;
    }
}