.reserva {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.reserva h2, .reserva h3 {
    width: 100%;
    text-align: center;
}

.reserva .div-reserva, .reserva .detalle-reserva {
    margin: 10px;
}
.reserva-imagenes {
    height: 200px;
}
form.detalle-reserva {
    margin-bottom: 40%;
}

.reserva-user {
    box-sizing: border-box;
    border: 2px solid rgba(255, 69, 0, 0.25);
    border-radius: 5px;
    height: 280px;
    padding: 10px;
}
.reserva-user .reserva-avatar {
    background-color: var(--secondary-color);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.reserva-user p {
    font-weight: bold;
}
.reserva-user span {
    font-weight: 400;
}

.reserva-restaurante {
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid rgba(255, 69, 0, 0.25);
    border-radius: 5px;
    max-height: 530px;
}
.reserva-restaurante .reserva-imagenes {
    margin: 0 auto 30px;
}
.reserva-imagenes .imagenes-container {
    margin: 0;
}

.reserva-restaurante p {
    font-weight: bold;
}
.reserva-restaurante span {
    font-weight: 400;
}

.reserva .detalle-reserva {
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid rgba(255, 69, 0, 0.25);
    height: auto;
    margin-bottom: 20%;
    text-align: center;
}

.reserva .detalle-reserva fieldset {
    border: 2px solid rgba(255, 69, 0, 0.25);
}
.reserva .detalle-reserva legend {
    font-weight: bold;
}
.reserva fieldset .info {
    margin: 5px auto;
    color: gray;
    font-size: .7rem;
}
.reserva .detalle-reserva input {
    padding: 5px;
    border: 1px solid rgba(165, 42, 42, 0.5);
    border-radius: 5px;
}
.reserva .detalle-reserva .calendario-reserva-fecha{
    padding-left: 30px;
    height: 17px;
    width: 85px;
}
.reserva .detalle-reserva .calendario-reserva-fecha-inicial{
    cursor: pointer;
}
.reserva .detalle-reserva .boton-reserva-final {
    margin: 10px auto;
    width: 60%;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    transition: all .5s ease;
    cursor: pointer;
}
.reserva .detalle-reserva .select-reserva-hora{
    border: 1px solid rgba(165, 42, 42, 0.5);
    border-radius: 5px;
    height: 25px;
    cursor: pointer;
}
.reserva .detalle-reserva button:hover {
    background-color: #be3535;
}

@media (max-width: 840px) {
    .reserva .div-reserva, .reserva form {
        width: 80%;
    }
    .reserva form .datepickers {
        margin: 0 auto;
    }
    .reserva .reserva-user {
        height: auto;
    }
    .reserva-restaurante .restaurante-container {
        display: flex;
        height: 270px;
    }
    .reserva-restaurante .reserva-imagenes {
        width: 80%;
    }
    .reserva-restaurante .restaurante-info {
        margin: 0 auto;
    }
    .reserva-imagenes .contenedor .flechas div{
        margin: 60px 1px;
        width: 10px;
    }
    .reserva-imagenes .contenedor .puntos {
        text-align: center;
    }

    .reserva .reserva-user .user-container {
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width:480px) {
    .reserva .div-reserva {
        width: 80%;
    }
    .reserva .reserva-user .user-container {
        margin: 0 auto;
        text-align: center;
    }

    .reserva-restaurante .restaurante-container {
        justify-content: space-around;
    }
    .reserva-restaurante .reserva-imagenes {
        width: 100%;
    }
    .reserva-restaurante .restaurante-info {
        width: 100%;
    }
    .reserva-restaurante .restaurante-info p {
        margin: 8px;
        width: 100%;
    }
    .reserva-restaurante h3 {
        margin: 10px auto;
    }
    .reserva-imagenes .contenedor .flechas div{
        display: flex;
        justify-content: center;
        margin: 60px auto;
        width: 5px;
    } 
    .reserva-imagenes .puntos {
        display: flex;
        text-align: center;
    }

}

@media (max-width:400px) {
    
    .reserva-restaurante .restaurante-container {
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 100%;
        margin: 0;
    }
    .reserva-restaurante .restaurante-container .reserva-imagenes {
        margin: 0 30px 50px;
        width: 100%;
    }
    .reserva-imagenes .contenedor {
        margin: 10px;
    }
    .reserva-imagenes .contenedor .flechas div {
        margin: 10px;
        width: 5px;
    }
    
}
    