.recomendados{
  max-width: 95%;
}

.article-recomendados {
  position: relative;
}
  
.listado-recomendados {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.recomendados article{
  display: flex;
  justify-content: space-around;
  width: 40%;
  height: 275px;
  margin: 20px;
  border-radius:10px;
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.47);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.47);
}
.recomendados img {
  object-fit: cover;
  width: 35%;
  border-radius: 10px;
}
.recomendados .descripcion {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.recomendados .descripcion div {
  height: 70%;
}
.recomendados .descripcion .restaurante-descripcion,.recomendados .descripcion h2{
  color: var(--third-color);
}
.recomendados .descripcion h2 {
  font-size: 1.5rem;
  margin: 5px 0;
  width: 70%;
}
.recomendados .descripcion .restaurante-descripcion {
  font-size: .8rem;
}
.recomendados .descripcion .puntuaciones-recomendados {
  margin: 5px 5px 5px 0px;
  display: flex;
  justify-content: space-between;
  height: 20px;
}
.recomendados .descripcion .estrellas {
  color: #ffbd52;
}
.recomendados .descripcion .estrellas svg {
  margin-right: 5px;
  font-size: 1.1rem;
}
.recomendados .descripcion .puntuaciones-recomendados .contenedor-valoraciones{
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.recomendados .descripcion .puntuaciones-recomendados .contenedor-valoraciones .puntuacion-promedio-recomendados{
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.recomendados .descripcion .puntuaciones-recomendados .contenedor-valoraciones .recomendados-calidad{
  font-weight: 700;
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
.recomendados a {
  width: 90%;
  height: 15%;
  margin: 10px 15px 20px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: var(--secondary-color);
  align-self: center;
  transition: all ease 1s;
}
.recomendados a:hover {
  cursor: pointer;
  scale: 1.05;
  background-color: #f3571e;
}
.recomendados button {
  width: 90%;
  height: 15%;
  margin: 10px 15px 20px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: var(--secondary-color);
}

@media (max-width: 1024px) {
  .listado-recomendados{
    justify-content: space-around;
  }
  .recomendados article {
    width: 43%;
    max-height: 275px;
  }
  .recomendados img {
    object-fit: cover;
  }
  .recomendados article h2{
    font-size: 1rem;
  }
  .recomendados article .restaurante-descripcion{
    margin-top: 0;
    font-size: .65rem;
  }
  .recomendados button {
    width: 100%;
    margin: 5px auto 20px;
    padding: 7px;
  }
  .recomendados .descripcion .puntuaciones-recomendados .contenedor-valoraciones .recomendados-calidad{
    font-size: .64rem;
  }
}

@media (max-width: 768px) {
  .listado-recomendados{
    padding: 0;
  }
  .recomendados article{
    width: 100%;
  }
  .recomendados .descripcion .puntuaciones-recomendados .contenedor-valoraciones .recomendados-calidad{
    font-size: .8rem;
  }
}

@media (max-width: 480px) {
  .listado-recomendados{
    padding: 0;
    width: 100%;
    display: flex;
  }
  .recomendados article{
    margin: 25px auto;
    height: 275px;
    width: 95%;

    flex-direction: column;
  }
  .recomendados article img {
    width: 100%;
    height: 35%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .recomendados .descripcion h2 {
    font-size: 1.3rem;
  }
  .recomendados .descripcion .puntuaciones-recomendados {
    margin: 5px 25px 5px 0px;
  }
  .recomendados .descripcion .restaurante-descripcion {
    margin-bottom: 2px;
    margin-right: 10px;
  }
  .recomendados button {
    width: 100%;
    height: 30px;
    padding: 5px;
  }
  .recomendados a {
    width: 80%;
    margin: 7px 10px 7px 0;
  }
}