.main-detail {
  margin-bottom: 6%;
}
.slider-imagenes {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.89);
}

.producto-nombre {
  box-sizing: border-box;
  background-color: var(--main-color);
  display: flex;
  width: 100%;
  padding: 5px 55px;
  justify-content: space-between;
  text-align: start;
  align-items: center;
}
.producto-nombre h2 {
  color: white;
}
.producto-nombre a {
  color: white;
  margin-top: 10px;
  font-size: 2.8rem;
}
.producto-info {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 93%;
}
.producto-info .ciudad {
  display: flex;
  align-items: center;
}
.producto-info .ciudad svg {
  font-size: 25px;
  margin-right: 10px;
}
.producto-info .iconos {
  display: flex;
  align-items: center;
  font-size: 23px;
  position: relative;
  height: 40px;
}
.producto-info .iconos .container-share-icon {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 0.5px 0.5px brown;
  margin-left: 45px;
  position: absolute;
  top: 7.5px;
}
.producto-info .iconos .share-icon {
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
}
.producto-info .iconos .share-icon:hover {
  color: orangered;
}
.producto-info .calificacion {
  display: flex;
}
.producto-info .calificacion .estrellas {
  margin-right: 10px;
  margin-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.producto-info .estrellas p {
  font-weight: 700;
  margin: 16px 0 5px;
}
.producto-info .estrellas .adjetivo-descripcion {
  margin-right: 2px;
}
.producto-info .estrellas svg {
  color: #ffbd52;
  margin: 0 3px 0 0;
}
.producto-info .estrellas .numero-valoraciones {
  margin-top: 0px;
  font-size: 14px;
}
.producto-info .calificacion .numero {
  margin-top: 18px;
  background-color: var(--main-color);
  color: white;
  font-weight: 700;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.producto-info .numero p {
  margin: 12px;
}
.producto-info .boton-puntuacion {
  display: flex;
  justify-content: right;
  align-items: center;
}
.producto-info .boton-puntuacion .boton-dar-puntuacion {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--secondary-color);
  padding: 10px 5px;
  width: 80px;
  font-weight: bold;
  margin: 5px 0px;
}
.producto-info .boton-puntuacion button:hover {
  cursor: pointer;
}
.detalle-producto {
  padding: 5px 0px;
}
.detalle-producto h2 {
  text-align: center;
  color: brown;
}

.detalle-producto .carrousel {
  width: 500px;
  height: 280px;
  margin: 0 auto;
  display: none;
}

.detalle-producto .galeria-imagenes {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detalle-producto .galeria-imagenes .imagenes {
  display: flex;
  margin: 0 auto;
  height: 430px;
  width: 93%;
}
.detalle-producto .galeria-imagenes .buttons {
  display: flex;
  justify-content: flex-end;
  width: 93%;
  margin: 0 auto;
}
.detalle-producto .galeria-imagenes button {
  display: block;
  margin: 1% 4% 1% 0;
  padding: 10px;
  color: var(--secondary-color);
  font-weight: bold;
  color: white;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid var(--secondary-color);
  transition: all ease-in-out 0.5s;
}
.detalle-producto .galeria-imagenes button:hover {
  background-color: #f05d28;
}
.detalle-producto .galeria-imagenes div {
  width: 50%;
}
.detalle-producto .galeria-imagenes .principal {
  margin-right: 10px;
}
.detalle-producto .galeria-imagenes .principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.detalle-producto .galeria-imagenes .secundarias img {
  object-fit: cover;
  border-radius: 5px;
  width: 45%;
  height: 48.6%;
  margin: 0 5px 3px 5px;
}
.detalle-producto .galeria-imagenes .secundarias .imagen {
  margin-bottom: 0;
}
.detalle-producto .galeria-imagenes img {
  width: 80px;
  height: 80px;
}

/* -----PRODUCTO PLAN ------*/
.detalle-producto .producto-plan {
  width: 100%;
  margin-bottom: 7%;
}
.detalle-producto .producto-plan h2 {
  margin: 2% auto;
}
.detalle-producto .producto-plan ul {
  width: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}
.detalle-producto .producto-plan li {
  box-sizing: border-box;
  width: 20%;
  padding: 20px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  text-align: center;
}
.detalle-producto .producto-plan .menu {
  width: 62%;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
}

.detalle-producto .producto-ventajas {
  width: 100%;
}
.detalle-producto .producto-ventajas ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.detalle-producto .producto-ventajas li {
  width: 20%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.producto-ventajas li svg {
  font-size: 1.6rem;
}
.producto-ventajas li p {
  margin-left: 10px;
}

.detalle-producto .producto-ventajas div {
  width: 100%;
  border-bottom: 1px solid var(--secondary-color);
}
.detalle-producto .producto-ventajas h2 {
  margin: 1.2% auto;
}
/*------ Reservas ------*/
.detalle-producto .reserva-producto {
  display: flex;
  flex-direction: column;
}
.detalle-producto .reserva-producto .titulo {
  width: 100%;
  border-top: 1px solid var(--secondary-color);
}
.detalle-producto .reserva-producto .titulo h2 {
  margin: 5% auto 2%;
}
.detalle-producto .reserva-producto .formulario {
  padding: 30px 0;
}
.detalle-producto .reserva-producto .datepickers {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.detalle-producto .reserva-producto .datepickers .datepicker-fechaInicio label,
.detalle-producto .reserva-producto .datepickers .datepicker-fechaFinal label {
  font-weight: 500;
  align-self: center;
}
.detalle-producto .reserva-producto .datepickers .datepicker-fechaInicio input,
.detalle-producto .reserva-producto .datepickers .datepicker-fechaFinal input {
  height: 20px;
  width: 85px;
  padding-left: 30px;
  border: 1px solid brown;
  border-radius: 5px;
}
.detalle-producto .reserva-producto .datepickers .datepicker-fechaInicio input{
    cursor: pointer;
}
.detalle-producto .datepickers .div-datepicker {
  max-width: 65%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
} 

.detalle-producto .reserva-producto .hora {
  display: flex;
  flex-direction: column;
  max-width: 65%;
}

.detalle-producto .reserva-producto .hora label {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 0.85em;
}

.detalle-producto .reserva-producto .hora select {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid brown;
  border-radius: 5px;
  cursor: pointer;
}

.detalle-producto .reserva-producto .container-button {
  width: 35%;
  display: flex;
  justify-content: flex-end;
}

.detalle-producto .reserva-producto .button {
  flex-direction: column;
  box-sizing: border-box;
  text-align: justify;
  color: black;
  width: 65%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 2.5px 0px rgba(165, 42, 42, 0.5);
}
.detalle-producto .reserva-producto .button .leyenda-button-reserva {
  margin-block-start: 0;
  margin-block-end: 1em;
}
.detalle-producto .button button {
  display: block;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--secondary-color);
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

/*------ Politicas ------*/
.detalle-producto .politicas .contenedor {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.detalle-producto .politicas .titulo {
  border-bottom: 1px solid var(--secondary-color);
}
.detalle-producto .politicas h2 {
  text-align: start;
  margin: 20px 0 10px 4%;
}
.detalle-producto .politicas .contenedor div {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 20px 10px 10px 4%;
  flex-wrap: wrap;
  color: black;
  font-weight: 500;
}
.detalle-producto .politicas .contenedor h3 {
  color: var(--main-color);
  margin: 10px 0;
}
.detalle-producto .politicas p {
  margin: 10px 0;
}

@media (max-width: 1250px) {
  .detalle-producto .galeria-imagenes {
    width: 90%;
  }

  /* -----PRODUCTO PLAN ------*/
  .detalle-producto .producto-plan li {
    width: 30%;
  }

  .detalle-producto .producto-plan .menu {
    width: 93%;
  }
}

@media (max-width: 1024px) {
  /*------- Politicas ------*/
  .detalle-producto .politicas .contenedor div {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .main-detail {
    margin-bottom: 10%;
  }
  .producto-nombre,
  .producto-info {
    padding: 5px 20px;
  }
  .producto-info p {
    font-size: 0.96rem;
  }
  .producto-info .iconos {
    font-size: 1.2rem;
  }
  .producto-info .ciudad {
    width: 80%;
  }
  .producto-info .estrellas .numero-valoraciones {
    font-size: 13px;
  }
  .producto-info .boton-puntuacion .boton-dar-puntuacion {
    width: 70px;
    padding: 8px 5px;
    font-size: 0.8rem;
  }
  .producto-info .calificacion .numero {
    width: 35px;
    height: 35px;
  }
  .detalle-producto .galeria-imagenes {
    display: none;
  }
  .detalle-producto .carrousel {
    display: block;
    margin-bottom: 10%;
  }

  /* -----PRODUCTO PLAN ------*/
  .detalle-producto .producto-plan li {
    width: 40%;
  }
  .detalle-producto .producto-plan .menu {
    width: 97%;
  }

  /*------ Producto Ventajas ------*/
  .detalle-producto .producto-ventajas ul {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
  }
  .detalle-producto .producto-ventajas li {
    width: 28%;
    text-align: left;
  }

  .detalle-producto .reserva-producto .datepickers {
    text-align: center;
    align-items: center;
    width: 45%;
  }
  .detalle-producto .reserva-producto .button {
    padding: 0 10px 10px;
    width: 80%;
  }
  .detalle-producto .reserva-producto {
    margin-bottom: 10%;
  }

  /*------- Politicas ------*/
  .detalle-producto .politicas .contenedor div {
    width: 43%;
  }
  .detalle-producto .politicas .contenedor h3 {
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .main-detail {
    margin-bottom: 12%;
  }

  .producto-info {
    box-sizing: border-box;
  }
  .producto-info p {
    font-size: 0.9rem;
  }
  .producto-info .ciudad {
    flex-direction: column;
    align-items: start;
  }
  .producto-info .ciudad svg {
    font-size: 1.4rem;
  }
  .producto-info .ubicacion {
    width: 43%;
  }
  .producto-info .calificacion p {
    font-size: 0.9rem;
  }
  .producto-info .estrellas svg {
    font-size: 0.8rem;
  }
  .producto-info .calificacion .numero {
    width: 30px;
    height: 30px;
  }

  /* -----PRODUCTO PLAN ------*/
  .detalle-producto .producto-plan h2 {
    font-size: 1.3rem;
    margin-top: 15%;
    margin-left: 5%;
  }
  .detalle-producto .producto-plan ul {
    flex-wrap: wrap;
  }
  .detalle-producto .producto-plan li {
    width: 90%;
    margin-bottom: 20px;
  }
  .detalle-producto .producto-plan .menu {
    width: 89%;
  }

  /*------ Producto Ventajas ------*/
  .detalle-producto .producto-ventajas li {
    width: 40%;
  }

  /*------ Producto Reserva ------*/
  .detalle-producto .reserva-producto h2 {
    margin: 5% 0 0 5%;
  }
  .detalle-producto .reserva-producto .formulario {
    flex-wrap: wrap;
  }
  .detalle-producto .reserva-producto .datepickers {
    text-align: center;
    align-items: center;
    width: 90%;
  }
  .detalle-producto .datepickers .div-datepicker {
    width: 100%;
  }
  .detalle-producto .reserva-producto .container-button {
    width: 60%;
  }
  .detalle-producto .reserva-producto .button {
    padding: 0 10px 10px;
    width: 100%;
  }
  .detalle-producto .reserva-producto {
    margin-bottom: 10%;
  }

  /*------- Politicas ------*/
  .detalle-producto .politicas .contenedor div {
    width: 80%;
  }
}
